<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Premier League Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">
  <h1>Premier League Table</h1>
    <!--because I used ListView the table object name will become the tablename-list-->
    <table class="table">
        <thead>
        <tr>
            <th>Club</th>
            <th>MP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>Pts</th>
        </tr>
        </thead>
        <tbody>
        {% for post in premiertable_list %}
        <tr>
            <td>
            {{ post.Club }}
            </td>
            <td>
            {{ post.MP}}
            </td>
            <td>
            {{ post.W }}
            </td>
            <td>
            {{ post.D }}
            </td>
            <td>
            {{ post.L }}
            </td>
            <td>
            {{ post.GF }}
            </td>
            <td>
            {{ post.GA }}
            </td>
            <td>
            {{ post.GD }}
            </td>
            <td>
            {{ post.Pts }}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>